@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  
}


.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  font-family: "Roboto";
}

.logo{
  width:100px;
}

/* header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 900;
  position: sticky;
  top:0;
  left:0;
}



#header #mobile{
  display: none;
  align-items: center;
}

#header #mobile i{
  color:#1a1a1a;
}

#navbar #close{
  position: absolute;
  left:30px;
  top:30px;
  font-size:27px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position:relative;
}

#navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
  transition: all 0.3s;
}

#navbar a:hover,
#navbar a.active {
  color: #088178;
}

#navbar a.active::after, #navbar a.hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}




/* hero */

#hero{
    background-image:url("img/hero4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 40% right 0;
    width:100%;
    min-height:calc(100vh - 80px);
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom:15px;
}

#hero h1{
    color:#088178;
}

#hero button{
    background-image: url("img/button.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color:transparent;
    padding:14px 80px 14px 65px;
    border:none;
    color:#088178;
    font-weight: 700;
    font-size:17px;
    text-align: center;
    cursor:pointer;
}

/* feature */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#feature .fe-box{
    border:1px solid #cce7d0;
    text-align: center;
    width:180px;
    height:190px;
    padding-top:15px;
    box-shadow: 20px 20px 34px rgba(0 ,0, 0, 0.03);
    border-radius: 4px;
    margin:15px 0;
    transition: all .3s;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70 ,62, 221, 0.4);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom:10px;
}

#feature .fe-box h6{
    display: inline-block;
    color:#088178;
    padding:8px 12px;
    line-height: 1;
    background-color: #fddde4;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

/* product1 */



#product1 h2 ,p{
    text-align: center;
}

#product1  .product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#product1  .product-container .product{
    width:23%;
    min-width: 250px;
    border:1px solid #cce7d0;
    border-radius: 20px;
    margin:25px 0;
    padding:15px;
    box-shadow: 20px 20px 30px  rgba(0,0,0, 0.02);
    cursor: pointer;
    transition: all ease-in-out .3s;
    position: relative;
}

#product1  .product-container .product:hover{
    box-shadow: 20px 20px 30px  rgba(0,0,0, 0.09);
}

#product1  .product-container .product img{
    width:100%;
    margin-bottom:15px;
    border-radius: 20px;
}

#product1 .description span{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

#product1 .description h5{
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
}

#product1 .description h3{
    color: #088178;
    font-size: 22px;
    font-weight: 600;
}

#product1  .product-container .product .star i{
    color:#F79028;
    padding-bottom: 10px;
}

#product1  .product-container .product .fa-cart-plus{
    color:#088178;
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    text-align: center;
    border:1px solid #cce7d0;
    position: absolute;
    right: 15px;
    bottom:15px;
}

/* banner */
#banner{
    background-image: url("img/banner/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:60px 0;
}

#banner h4{
    color:white;
    padding-bottom:10px;
}

#banner h2{
    color:white;
    padding-bottom:15px;
}

#banner span{
    color:rgb(201, 28, 28);
}

/* genel css */
button{
    font-size:17px;
    background-color: white;
    padding:15px 25px;
    border-radius:8px;
    cursor:pointer;
    outline: none;
    border:none;
    transition: all ease .6s;
}

button:hover{
    background-color: #088178;
    color:white;
}

/* sm-banner */

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner  .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b17.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width:48.5%;
  height: 50vh;
  padding:30px;
}

#sm-banner  .banner-box h2{
  margin:7px 0;
}

#sm-banner  .banner-box button{
  margin-top:20px;
}


#sm-banner  .banner-box2{
  background-image: url(img/banner/b10.jpg);
}

#sm-banner  .banner-box2 h2{
  margin:7px 0;
  color:#fff;
}

#sm-banner  .banner-box2 h4{
  color:#fff;
}

#sm-banner  .banner-box2 h5{
  color:#fff;
}

#sm-banner  .banner-box2 button{
  margin-top:20px;
  
}
/* banner3 */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0 80px;
  margin-bottom: 50px;
}

#banner3  .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width:32%;
  height: 30vh;
  padding:20px; 
}

#banner3  .banner-box h3{
  padding:10px 0;
}


#banner3  .banner-box2{
  background-image: url(img/banner/b4.jpg);
}

#banner3   .banner-box3{
  background-image: url(img/banner/b18.jpg);
}

/* newsletters */

#newsletters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position:20% 30%  ;
  background-size: cover;
  width:100%;
  min-height: 80px;
  background-color: #041e42;
}

#newsletters #newsletter , #sign{
  padding-bottom:20px;
}

#newsletters h3{
  color:#fff;
  font-size:27px;
  padding-bottom:8px;
}

#newsletters h4{
  color:#ccc;
  font-size:16px;
}

#newsletters span{
  color:#ffbd27;
}

#newsletters input{
  min-width:450px;
  height: 50px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left:10px;
  font-size:18px;
  border:none;
  outline:none;
}

#newsletters button{
  margin-left:-5px;
  margin-bottom:-1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #088178;
  color:white;
  font-weight: 500;
}

/* footer */

footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

footer .col{
    margin-bottom: 20px;
 }

footer .col p{
 text-align: left;
}

footer .col li{
  list-style: none;
  padding-bottom: 5px;
 }

 footer .col a{
  text-decoration: none;
  color:rgb(112, 107, 107);
 }

 footer .col h4{
  padding-bottom: 20px;
 }

 footer .col b{
  font-weight: 900;
 }

 footer .border{
  border:1px solid rgb(0, 49, 0);
  padding:2px 10px;
  border-radius:6px;
  margin:10px 0;
 }

 footer .fa-brands{
  padding-right:5px;
  font-weight: 500;
  font-size:17px;
  color:#222;
 }

 footer img{
  margin:10px 0;
 }

.copyright{
  color:rgb(124, 110, 110);
 }

 /* shop page */

 /* shop hero */

 #shop-hero{
  background-image: url(img/banner/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding:100px 0;
 }

 #shop-hero h1 ,
 #shop-hero  h4{
  color:white;
  text-align: center;
  padding:5px 0;
 }

 /* pagination */

 #pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 }

 #pagination a{
  padding:12px;
  color:#fff;
  background-color: #088178;
  border:1px solid #088178;
  border-radius: 4px;
  margin-right:5px;
  font-size:17px;
  font-weight: 500;
  text-decoration: none;
 }


 /* productdetail */

 #productdetail{
  display: flex;
  margin-top:20px;
  justify-content: center;
  flex-wrap: wrap;
 }

#productdetail .single-pro-image{
  width:40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.product-detail{
  width:50%;
  padding:40px 0;
  display: flex;
  flex-direction: column;
}

.product-detail h4{
  padding:30px 0;
}

.product-detail select{
  width: 120px;
  padding:6px;
  font-size:16px;
  border-radius: 3px;
  margin:15px 0;
  border:1px solid #088178
}

.product-detail input{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding:6px;
  font-size:16px;
  border-radius: 3px;
  margin:15px 0;
  border:1px solid #088178
}

.product-detail input:focus{
  outline:none;
}

.product-detail button{
  width: 150px;
  font-size:16px;
  border-radius: 3px;
  border:1px solid #088178;
  background-color: #088178;
  color:#fff;
}

.product-detail p{
  text-align: left;
  line-height: 23px;
}

#product1 p {
  margin-bottom: 20px;
}


/* blog */

#blog-hero{
  background-image: url(img/banner/b19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding:100px 0;
}

#blog-hero h1 ,
#blog-hero  h4{
 color:white;
 text-align: center;
 padding:5px 0;
}


#blog-posts{
  padding:150px 150px 0 150px;
}

.blog-post{
  display: flex;
  align-items: center;
  width:100%;
  padding-bottom:60px;
}

.blog-img{
  width:50%;
  margin-right:40px;
}

.blog-img h1{
  font-size: 90px;
  position: relative;
  top:10px;
  z-index: -85;
  color:#ccc;
}

.blog-img img{
  width:100%;
  height: 350px;
  object-fit: cover;
}

.blog-content{
  width: 50%;
}

.blog-content h4,
.blog-content p {
    padding-bottom:15px;
    text-align: left;
}

.blog-content span{
  position: relative;
} 

.blog-content span::after{
  content:"";
  width:50px;
  height: 1px;
  background-color: #000;
  position:absolute;
  top:8px;
  right:-60px;
}

/* about  */
#about-hero{
  background-image: url(img/about/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding:100px 0;
}

#about-hero h1 ,
#about-hero  h4{
 color:white;
 text-align: center;
 padding:5px 0;
}

#about{
  padding:70px 70px 0 70px;
}

.about-content{
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom:80px;
}

.about-img{
  width:50%;
  margin-right:40px;
}

.about-img img{
  width:100%;
}

.about-text{
  width: 50%;
}

.about-text h1 ,
.about-text p {
 padding-bottom:30px;
 text-align: left;
 line-height: 22px;
}

.about-text marquee{
  background-color: #088178;
  color:#fff;
  line-height: 35px;
}


/* app  */

#app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#app h1{
  font-size:50px;
}
#app video{
  width:60%;
  margin:80px 150px;
  border-radius:20px;
}

/* contact   */
#contact-hero{
  background-image: url(img/about/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding:100px 0;
}

#contact-hero h1 ,
#contact-hero  h4{
 color:white;
 text-align: center;
 padding:5px 0;
}

#contact{
  padding:100px;
}

.contact-area{
  display: flex;
  align-items:flex-start;
  width:100%;
}

.contact-text{
  width:45%;
  padding:80px 0;
  margin-right:30px;
}

.contact-text h3{
  padding-bottom:15px;
}

.contact-text h2{
  font-size:35px;
  padding-bottom:15px;
}

.contact-text li{
  padding:8px 0;
  list-style: none;
}

.contact-text a{
  text-decoration: none;
  color:#000;
  padding-right:10px;
}


.contact-map{
  width:55%;
}

#message{
  padding:80px 50px;
  
}

.message-area{
  display: flex;
  align-items: flex-start;
  width:100%;
  border:1px solid #ccc;
}

.message-form{
  width:70%;
  display: flex;
  flex-direction: column;
  padding:50px;
}

.message-form h2{
  padding:20px 0;
}
.message-form input{
  display: inline-block;
  width: 100%;
  height: 45px;
  font-size:17px;
  padding-left:15px;
  margin-bottom: 15px;
  outline: none;
  border:1px solid #ccc
}
.message-form textarea{
  display: inline-block;
  width: 100%;
  font-size:17px;
  padding-top:15px;
  padding-left:15px;
  margin-bottom: 15px;
  outline: none;
  border:1px solid #ccc

}

.message-form  button{
  padding:15px 40px;
  background: #088178;
  color:#fff;
  border-radius:0;
}

.message-person{
  width:30%;
  padding:160px 50px;
}

.person{
  position: relative;
  margin-bottom:50px;
}

.person-info{
  position: absolute;
  left:110px;
  top:5px;
}

.person-info h2,
.person-info p {
 text-align: left;
}


/* responsive */

@media (max-width : 799px){
  .section-p1{
    padding:40px ;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    top:0;
    right:-300px;
    height:100vh;
    width:300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding:80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar #lg-bag{
    display: none;
  }

  #navbar li{
    margin-bottom:25px;
  }

  #header #mobile{
    display: flex;
   align-items: center;
  }

  #mobile i{
    font-size:24px;
    padding-left:20px;
    cursor:pointer;
  }

  #hero {
    min-height: calc(100vh - 80px);
    padding: 0 80px;
    background-position: top 40% right 40%;
    
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px;

  }

  #product1  .product-container {
    justify-content: center;
  }

  #product1  .product-container .product {
    margin:15px;
  }

  #banner {
    padding: 40px 0;
  }

  #sm-banner  .banner-box {
    width: 100%;
    height: 30vh;
    padding: 10px 20px;
    margin-top:10px;
}

#banner3 {
  padding:0  40px;
}

#banner3  .banner-box {
  width: 100%;
  height: 30vh;
  padding: 20px;
  margin-bottom: 10px;
}

#banner3  .banner-box2 {
  width: 100%;
  height: 30vh;
  padding: 20px;
}

#banner3  .banner-box3 {
  width: 100%;
  height: 30vh;
  padding: 20px;
}

/* blog */

#blog-posts {
  padding: 70px 70px 0 70px;
}

.blog-img img {
  height: 250px;
}

/* about  */
#about {
  padding: 30px 30px 0 30px;
}

.about-content {
  flex-wrap: wrap;
}

.about-img {
  width: 100%;
  margin-right: 0;
  margin-bottom:40px;
}

.about-img img{
  height: 400px;
}

.about-text {
  width: 100%;
}

#contact {
  padding: 50px;
}

.contact-area {
 flex-wrap: wrap;
}

.contact-text {
  width: 100%;
  padding: 80px 0;
  margin-right: 0;
}

.contact-map {
  width: 100%;
}

.contact-map div{
  width:100%;
}

.message-area {
  flex-wrap: wrap;
}

.message-form {
  width: 100%;
}

.message-person {
  width: 100%;
  padding: 50px;
}


@media (max-width: 477px){
  .section-p1{
    padding:20px;
  }
  #header {  
    padding: 10px 20px;
  }

  #hero {
    min-height: calc(70vh - 80px);
    padding: 0 60px;
    background:none;
  }

  #hero button {
    margin-top:40px;
  }

  #hero p{
    margin-top:20px ;
  }
  #feature {
    justify-content: space-evenly;
}

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
}

#product1  .product-container .product {
  width: 33%;
  min-width: 350px;
}

#banner3 {
  padding: 0  20px;
}

  #newsletters input {
    display: inline-block;
    min-width: 150px;
    height: 40px;
   
  }

  #newsletters button {
    min-width:60px;
   padding:10px;
    position: absolute;
    
}

 #shop-hero  h4 {
  font-size:16px;
}

#productdetail .single-pro-image {
  width: 90%;
 margin-right: 0;
}
.product-detail {
  width: 90%;
}
#product1 h2 {
  font-size:28px;
}

/* blog */

#blog-hero  h4 {
  font-size:17px;
}

#blog-posts {
  padding: 30px 30px 0 30px;
}

.blog-post {
  flex-wrap: wrap;
}

.blog-img {
  width: 100%;
  margin-right: 0;
}

.blog-img h1 {
  font-size: 60px;
  top: 15px;
}

.blog-content {
  width: 100%;
}

/* about  */

.about-img img {
  height: 200px;
}

.about-text h1{
  font-size:35px;
}

#app h1 {
  font-size: 35px;
}

#app video {
  width: 80%;
  margin: 20px 50px;

}

#contact-hero {
  padding: 50px 0;
}

#contact {
  padding: 20px;
}

#message {
  padding:20px;
}

.message-form {
  width: 100%;
  padding: 20px;
}

.message-form h2 {
  font-size:27px;
  padding: 20px 0;
}

.message-person {
  padding: 20px;
}

}

@media (min-width : 799px){

  #navbar #close{
    display: none;
  }

}